parameters:
	level: 5
	paths:
		- .
	excludePaths:
		- Tests/*
		- vendor/*
	ignoreErrors:
		- '#^Call to an undefined method Psr\\Container\\ContainerInterface::getParameter\(\)\.$#'
		- '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\)\.$#'
		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			path: Entity/BaseSetting.php
