parameters:
	level: 4
	paths:
		- %currentWorkingDirectory%
	excludes_analyse:
		- %currentWorkingDirectory%/Tests/*
		- %currentWorkingDirectory%/vendor/*
	ignoreErrors:
		- '#^Call to an undefined method Psr\\Container\\ContainerInterface::getParameter\(\)\.$#'
		- '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\TreeBuilder::root\(\)\.$#'
		# TODO remove as soon as Symfony >= 4.3 is required
		-
			message: '#^Instantiated class Symfony\\Component\\Cache\\Adapter\\SimpleCacheAdapter not found\.$#'
			path: %currentWorkingDirectory%/CacheAdapter/SymfonyCacheComponentAdapter
		# TODO remove as soon as Symfony >= 4.3 is required
		-
			message: '#^Property Craue\\ConfigBundle\\CacheAdapter\\SymfonyCacheComponentAdapter::\$cache \(Psr\\Cache\\CacheItemPoolInterface\) does not accept Symfony\\Component\\Cache\\Adapter\\SimpleCacheAdapter\.$#'
			path: %currentWorkingDirectory%/CacheAdapter/SymfonyCacheComponentAdapter
